
      .subscribe-button {
        background-color: rgb(215, 28, 28);
        color: white;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 2px;
        cursor: pointer;
        transition: opacity 0.15s;
        margin-left: 20px;
        vertical-align: top;
      }
    
      .subscribe-button:hover {
        opacity: 0.8;
      }
    
      .subscribe-button:active {
        opacity: 0.5;
      }
    
      .join-button {
        background-color: white;
        border-color: rgb(41, 126, 211);
        border-style: solid;
        border-width: 1px;
        color: rgb(41, 126, 211);
        border-radius: 2px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 16px;
        padding-right: 16px;
        cursor: pointer;
        margin-left: 8px;
    
        transition: background-color 0.15s,
          color 0.15s;
      }
    
      .join-button:hover {
        background-color: rgb(41, 126, 211);
        color: white;
      }
    
      .join-button:active {
        opacity: 0.7;
      }
    
      .Tweet-button {
        background-color: rgb(0, 145, 249);
        color: white;
        border: none;
        padding-top: 9.5px;
        padding-bottom: 9.5px;
        padding-left: 14.3px;
        padding-right: 14.3px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        margin-left: 8px;
        transition: box-shadow 0.15s;
        vertical-align: top;
      }
    
      .Tweet-button:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      }