.sub-filter-container {
  margin: auto;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  gap: 10px;
}

.sub-filter {
    padding: 10px 12px;

    cursor: pointer;
    flex-grow: 1; /* Allow buttons to grow and shrink /
    transition: flex-grow 0.3s ease; / Smooth transition */
    text-align: center;

    background-color: lightblue;
    border-radius: 5px;
  }