p {
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.email {
  margin-bottom: 5px;
}

.email-bar {
  width: 240px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 100px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  border: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: grey;
  
}

.policy {
  margin-top: 20px;
  margin-bottom: 20px;
}

.join {
  background-color: rgb(9, 91, 245);
  color: white;
  padding-left: 122.5px;
  padding-right: 122.5px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.join:active {
  background-color: rgb(9, 111, 245);
}